.footer {
  position: relative;
  margin-top: 120px;
  padding-top: 80px;
  background: var(--surface);
  border-top: 1px solid var(--border);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 60px;
  padding-bottom: 60px;
}

.brand h2 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 18px;
  letter-spacing: 1px;
  color: var(--white);
}

.brand h2 span {
  background: linear-gradient(
    135deg,
    var(--primary),
    var(--secondary)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand p {
  color: var(--muted);
  max-width: 450px;
  line-height: 1.8;
}

.links h3,
.social h3 {
  color: var(--white);
  margin-bottom: 25px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  color: var(--muted);
  margin-bottom: 14px;
  transition: var(--transition);
}

.links a:hover {
  color: var(--accent);
  transform: translateX(6px);
}

.icons {
  display: flex;
  gap: 18px;
}

.icons a {
  width: 52px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.05);

  border: 1px solid var(--border);

  color: var(--white);

  font-size: 1.2rem;

  transition: var(--transition);
}

.icons a:hover {
  transform: translateY(-8px) rotate(-8deg);

  background: linear-gradient(
    135deg,
    var(--primary),
    var(--secondary)
  );

  border-color: transparent;

  box-shadow: 0 15px 35px rgba(59,130,246,.35);
}

.bottom {
  border-top: 1px solid var(--border);

  padding: 25px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: min(92%, var(--container));
  margin: auto;
}

.bottom p {
  color: var(--muted);
}

.topButton {
  width: 58px;
  height: 58px;

  border: none;

  border-radius: 50%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;

  color: white;

  background: linear-gradient(
    135deg,
    var(--primary),
    var(--secondary)
  );

  transition: all .35s ease;
}

.topButton:hover {
  transform: translateY(-8px) scale(1.08);

  box-shadow: 0 18px 40px rgba(59,130,246,.35);
}

.footer::before {
  content: "";

  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 500px;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    var(--primary),
    transparent
  );
}
@media (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    gap: 45px;
    text-align: center;
  }

  .brand p {
    margin: auto;
  }

  .links {
    align-items: center;
  }

  .icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .bottom {
    flex-direction: column;
    gap: 20px;
  }
}
