@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Playfair+Display:wght@600;700;800&display=swap");

:root{

--primary:#d4af37;
--primary-light:#f2cf67;

--black:#050505;
--dark:#0d0d0d;
--dark2:#141414;
--card:#1b1b1b;

--white:#ffffff;
--text:#d9d9d9;
--gray:#8f8f8f;

--radius:18px;

--transition:.35s ease;

--shadow:
0 10px 40px rgba(0,0,0,.45);

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:"Poppins",sans-serif;

background:var(--black);

color:var(--white);

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

img{

width:100%;

display:block;

}

button{

font-family:inherit;

cursor:pointer;

}

.container{

width:min(92%,1300px);

margin:auto;

}

section{

padding:120px 0;

}